{% set videos = __SELF__.videos%}
{% if __SELF__.hasError %}
{% partial '@error' message="Video gallery is unavailable" %}
{% else %}
<div class="container">
    {% if __SELF__.property('display_playlist_name') %}
    <div class="row">
        <div class="col s12 text-center" style="padding-bottom: 30px">
            <h2 class="playlist-name">{{ __SELF__.name }}</h2>
        </div>
    </div>
    {% endif %}
    <div class="row">
        {% for video in videos %}
        <div class="col s12 m6 l3">
            {% if video.video_type==1 %}
            {% set videoUrl = 'https://youtube.com/watch?v='~video.idvideo %}
            {% else %}
            {% set videoUrl = 'https://vimeo.com/'~video.idvideo %}
            {% endif %}
            <div class="card hoverable">
                <div class="card-image card--video">
                    <a class="venobox" data-vbtype="video" href="{{videoUrl}}">
                        {% if video.video_image is not empty %}
                        <img class="responsive-img" src="{{video.video_image.getThumb(350, 222, 'crop')}}" alt="">
                        {%else%}
                        <img class="responsive-img"
                             src="/plugins/individuart/videogallery/components/assets/img/placeholder-video.gif" alt="">
                        {% endif %}
                    </a>
                </div>
                <div class="card-action center-align">
                    {% if __SELF__.property('display_title') %}
                    <a class="venobox blue-text" data-vbtype="video" href="{{videoUrl}}">{{ video.title }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>
{% endif %}
{% if videos.lastPage > 1 %}
<ul class="pagination">
    {% if videos.currentPage > 1 %}
    <li><a href="{{ this.page.baseFileName|page({ (pageParam): (videos.currentPage-1) }) }}">&larr; Anteriores</a></li>
    {% endif %}

    {% for page in 1..videos.lastPage %}
    <li class="{{ videos.currentPage == page ? 'active' : null }}">
        <a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
    </li>
    {% endfor %}

    {% if videos.lastPage > videos.currentPage %}
    <li><a href="{{ this.page.baseFileName|page({ (pageParam): (videos.currentPage+1) }) }}">Siguientes &rarr;</a></li>
    {% endif %}
</ul>
{% endif %}